# eclipse items
.project
.settings
.classpath

IntelliJ Items
.idea/
mco152a.iml

# build artifacts
.gradle/
bin/
build/
out/

# program execution artifacts
jDiskMarkData/
doc/

#MAC junk
.DS_Store

# Gradle stuff we dont use yet
gradle/wrapper


#ignore changes to the apps properties file
jdm.properties
